In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/pycon-2018-tutorial/master/police.csv'

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
ri = pd.read_csv('police.csv')

In [27]:
ri.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [32]:
ri.isnull().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [37]:
ri[['driver_gender','violation' ]]

      driver_gender         violation
0                 M          Speeding
1                 M          Speeding
2                 M          Speeding
3                 M             Other
4                 F          Speeding
...             ...               ...
91736             M          Speeding
91737             F         Equipment
91738             M  Moving violation
91739             M          Speeding
91740             M          Speeding

[91741 rows x 2 columns]

In [40]:
ri[ri.violation == 'Speeding' ].driver_gender.value_counts(normalize=True)

M    0.680527
F    0.319473
Name: driver_gender, dtype: float64

In [44]:
ri[ri.driver_gender == 'M'].violation.value_counts(normalize=True)

(Speeding               0.524350
 Moving violation       0.207012
 Equipment              0.135671
 Other                  0.057668
 Registration/plates    0.038461
 Seat belt              0.036839
 Name: violation, dtype: float64,
 Speeding               0.658500
 Moving violation       0.136277
 Equipment              0.105780
 Registration/plates    0.043086
 Other                  0.029348
 Seat belt              0.027009
 Name: violation, dtype: float64)

In [45]:
ri[ri.driver_gender == 'F'].violation.value_counts(normalize=True)

Speeding               0.658500
Moving violation       0.136277
Equipment              0.105780
Registration/plates    0.043086
Other                  0.029348
Seat belt              0.027009
Name: violation, dtype: float64

In [48]:
ri.groupby('driver_gender').violation.value_counts(normalize=True)

driver_gender  violation
F              Speeding               0.658500
               Moving violation       0.136277
               Equipment              0.105780
               Registration/plates    0.043086
               Other                  0.029348
               Seat belt              0.027009
M              Speeding               0.524350
               Moving violation       0.207012
               Equipment              0.135671
               Other                  0.057668
               Registration/plates    0.038461
               Seat belt              0.036839
Name: violation, dtype: float64

In [50]:
ri.groupby('violation').driver_gender.value_counts(normalize=True).unstack()

driver_gender               F         M
violation
Equipment            0.225681  0.774319
Moving violation     0.197485  0.802515
Other                0.159833  0.840167
Registration/plates  0.295163  0.704837
Seat belt            0.215108  0.784892
Speeding             0.319473  0.680527