In [94]:
#from pyspark.sql.functions import udf
from pyspark.sql.types import DoubleType
import haversine
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [103]:
spark_ = SparkSession.builder.appName('practice').getOrCreate()

In [104]:
df = spark_.read.option('header', True).csv('go_bike_with_distance.csv', inferSchema=True)
# uncal_data = spark_.read.option('header', True).csv('tripdata.csv', inferSchema=True)

In [111]:
#df = df.withColumnRenamed('distance', 'cal_distant')
df = df.drop('_c0') # removing unnecceray column

In [113]:
df.show(3) # view is not clear

+----------+--------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+---------+-----------------+-------------+-----------+-----------------+
|start_time|end_time|start_station_id|  start_station_name|start_station_latitude|start_station_longitude|end_station_id|    end_station_name|end_station_latitude|end_station_longitude|bike_id|user_type|member_birth_year|member_gender|     pyment|Distance_in_meter|
+----------+--------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+---------+-----------------+-------------+-----------+-----------------+
|   57:39.7| 12:50.2|              74|Laguna St at Haye...|           37.77643482|            -122.426244|            43|San Francisco Pub...|          37.7787677|         -122.4159292|     96| Customer|             1987|         Male|credit card|           942.93|
|   56:34.8| 49:55.6|             284|Yerba Buena Cente...|           37.78487208|           -122.4008757|            96|Dolores St at 15t...|          37.7662102|         -122.4266136|     88| Customer|             1965|       Female|credit card|          3069.73|
|   45:48.4| 28:36.9|             245|Downtown Berkeley...|            37.8703477|           -122.2677637|           245|Downtown Berkeley...|          37.8703477|         -122.2677637|   1094| Customer|             null|         null|credit card|              0.0|
+----------+--------+----------------+--------------------+----------------------+-----------------------+--------------+--------------------+--------------------+---------------------+-------+---------+-----------------+-------------+-----------+-----------------+
only showing top 3 rows

tasks for this week : 
1-calculate the total distance for each bike and list the top 10
2-calculate the number of trips for each start station list top 10 and find the ratio of using as male
            or female
3-make a comparison to find the percentage of usage for customer and subscriber
4-calculate the age of all users and show the relation between the distance and the age
team leader : moihbur 
!! siraj will send the dataset with distance column !!

### 1-calculate the total distance for each bike and list the top 10

In [115]:
df.show(n=3,vertical=True) # make a clear view. RECORD repressnts row number

-RECORD 0---------------------------------------
 start_time              | 57:39.7
 end_time                | 12:50.2
 start_station_id        | 74
 start_station_name      | Laguna St at Haye...
 start_station_latitude  | 37.77643482
 start_station_longitude | -122.426244
 end_station_id          | 43
 end_station_name        | San Francisco Pub...
 end_station_latitude    | 37.7787677
 end_station_longitude   | -122.4159292
 bike_id                 | 96
 user_type               | Customer
 member_birth_year       | 1987
 member_gender           | Male
 pyment                  | credit card
 Distance_in_meter       | 942.93
-RECORD 1---------------------------------------
 start_time              | 56:34.8
 end_time                | 49:55.6
 start_station_id        | 284
 start_station_name      | Yerba Buena Cente...
 start_station_latitude  | 37.78487208
 start_station_longitude | -122.4008757
 end_station_id          | 96
 end_station_name        | Dolores St at 15t...
 end_station_latitude    | 37.7662102
 end_station_longitude   | -122.4266136
 bike_id                 | 88
 user_type               | Customer
 member_birth_year       | 1965
 member_gender           | Female
 pyment                  | credit card
 Distance_in_meter       | 3069.73
-RECORD 2---------------------------------------
 start_time              | 45:48.4
 end_time                | 28:36.9
 start_station_id        | 245
 start_station_name      | Downtown Berkeley...
 start_station_latitude  | 37.8703477
 start_station_longitude | -122.2677637
 end_station_id          | 245
 end_station_name        | Downtown Berkeley...
 end_station_latitude    | 37.8703477
 end_station_longitude   | -122.2677637
 bike_id                 | 1094
 user_type               | Customer
 member_birth_year       | null
 member_gender           | null
 pyment                  | credit card
 Distance_in_meter       | 0.0
only showing top 3 rows

In [117]:
df = df.withColumnRenamed('Distance_in_meter', 'dist_meter') # simply renaming column

In [118]:
df.select('bike_id').distinct().count() # checking how many unique values in bike_id -> 3673

3673

In [119]:
bike_distance = df.groupBy('bike_id').agg({'dist_meter': 'sum'}) # total distant for each bike

In [121]:
bike_distance.count() # same as before -> 3673

bike_distance.show()

+-------+------------------+
|bike_id|   sum(dist_meter)|
+-------+------------------+
|   2366|         249465.29|
|   2659|         490692.41|
|    496|         396983.32|
|    471| 578013.0599999999|
|   1238|167757.93999999997|
|   1591|415585.58999999997|
|    148|210349.24999999994|
|   2122|         185749.79|
|   2866|403550.13999999996|
|   1580|226680.16999999993|
|   1645| 328620.4600000001|
|   1829|415100.30999999994|
|   1342|167125.82000000004|
|   2142|         162044.23|
|    833|15854.170000000002|
|    463|         108842.98|
|   1959|219682.59999999998|
|   1088|         523288.28|
|   3175|         258649.06|
|   2563|         196767.43|
+-------+------------------+
only showing top 20 rows

In [127]:
bike_distance = bike_distance.withColumnRenamed('sum(dist_meter)', 'bike_distance') # renaming column

In [128]:
bike_distance.sort(desc('bike_distance')).show(n=10)  # top 10 bikers with id usinf sort function

+-------+-----------------+
|bike_id|    bike_distance|
+-------+-----------------+
|     68|743369.3899999999|
|   2178|721182.2200000001|
|    256|         671916.0|
|    235|        670162.09|
|   2049|        656828.08|
|    441|        656642.33|
|   2226|647823.2399999999|
|    796|646867.8099999998|
|    190|640294.2399999999|
|   2365|         639412.8|
+-------+-----------------+
only showing top 10 rows

### 2-calculate the number of trips for each start station list top 10 and find the ratio of using as male or female
#### calculate the number of trips for each start station list top 10
#### find the ratio of using as male or female

In [164]:
""""wild card charecter (*) referes every column in dataset. In this case, * apple the count on start_station_name column.
# simple help(df.groupBy) will show how this function works"""

count_start_station = df.groupBy('start_station_name',)\
.agg({'*': 'count'}) # calculate the number of trips for each start station list top 10

In [165]:
# possible to change the column name
count_start_station.sort(desc('count(1)')).show(n=10) # list top 10

+--------------------+--------+
|  start_station_name|count(1)|
+--------------------+--------+
|San Francisco Fer...|   15187|
|The Embarcadero a...|   13664|
|San Francisco Cal...|   12546|
|San Francisco Cal...|   12055|
|Market St at 10th St|   11960|
|Montgomery St BAR...|   11334|
|  Berry St at 4th St|   10956|
|Powell St BART St...|   10142|
|Howard St at Beal...|    9926|
|Steuart St at Mar...|    9347|
+--------------------+--------+
only showing top 10 rows

In [157]:
ratio_gender = df.groupBy('start_station_name','member_gender' )\
.agg({'*': 'count'})

In [176]:
ratio_gender.where((df.member_gender == 'Male') | (df.member_gender =='Female')).show()

+--------------------+-------------+--------+
|  start_station_name|member_gender|count(1)|
+--------------------+-------------+--------+
| George St at 1st St|         Male|     100|
|Shattuck Ave at 5...|         Male|     251|
| Julian St at 6th St|       Female|      25|
|Laguna St at Haye...|         Male|    1840|
|14th St at Filber...|         Male|      18|
|Grand Ave at Perk...|         Male|    1736|
|      DeFremery Park|       Female|     169|
|14th St at Missio...|         Male|    1556|
|Valencia St at 22...|         Male|    1397|
| 5th St at Taylor St|         Male|      77|
|Fruitvale Ave at ...|         Male|      50|
|Telegraph Ave at ...|       Female|     517|
|29th St at Tiffan...|       Female|     381|
|Stanford Ave at H...|       Female|      39|
|49th St at Telegr...|       Female|     239|
|Julian St at The ...|         Male|     540|
|Oregon St at Adel...|         Male|     167|
| Page St at Scott St|         Male|    1774|
|The Embarcadero a...|         Male|    1722|
|17th St at Dolore...|         Male|     927|
+--------------------+-------------+--------+
only showing top 20 rows

In [194]:
ratio_gender.where(((df.start_station_name == 'San Francisco Ferry Building (Harry Bridges Plaza)') & \
                   (df.member_gender == 'Male') | (df.member_gender =='Female'))).show()

+--------------------+-------------+--------+
|  start_station_name|member_gender|count(1)|
+--------------------+-------------+--------+
| Julian St at 6th St|       Female|      25|
|      DeFremery Park|       Female|     169|
|Telegraph Ave at ...|       Female|     517|
|29th St at Tiffan...|       Female|     381|
|Stanford Ave at H...|       Female|      39|
|49th St at Telegr...|       Female|     239|
|Marston Campbell ...|       Female|      16|
|Telegraph Ave at ...|       Female|      68|
|34th St at Telegr...|       Female|      76|
|16th St at Prospe...|       Female|     230|
|MacArthur BART St...|       Female|     913|
|Adeline St at 40t...|       Female|     158|
|Parker St at Fult...|       Female|      57|
|    San Antonio Park|       Female|     109|
|9th St at San Fer...|       Female|      76|
|Washington St at ...|       Female|     351|
|14th St at Mandel...|       Female|     178|
|     Bestor Art Park|       Female|       5|
|Telegraph Ave at ...|       Female|     135|
|Valencia St at 16...|       Female|     691|
+--------------------+-------------+--------+
only showing top 20 rows

In [246]:
#count_start_station.sort(desc('count(1)').alias('num_time')).show()

In [242]:
df.where((df.start_station_name == 'San Francisco Ferry Building (Harry Bridges Plaza)')\
         & ((df.member_gender == 'Male')|(df.member_gender =='Female'))).show(vertical=True) # cheking whether previous data is right !!

-RECORD 0---------------------------------------
 start_time              | 25:37.9
 end_time                | 39:12.2
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 90
 end_station_name        | Townsend St at 7t...
 end_station_latitude    | 37.771058
 end_station_longitude   | -122.402717
 bike_id                 | 1518
 user_type               | Subscriber
 member_birth_year       | 1982
 member_gender           | Male
 pyment                  | credit card
 dist_meter              | 2807.37
-RECORD 1---------------------------------------
 start_time              | 15:08.7
 end_time                | 28:23.4
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 6
 end_station_name        | The Embarcadero a...
 end_station_latitude    | 37.80477
 end_station_longitude   | -122.403234
 bike_id                 | 3047
 user_type               | Customer
 member_birth_year       | 1994
 member_gender           | Male
 pyment                  | app wallet
 dist_meter              | 1310.35
-RECORD 2---------------------------------------
 start_time              | 00:43.1
 end_time                | 15:47.8
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 66
 end_station_name        | 3rd St at Townsen...
 end_station_latitude    | 37.77874161
 end_station_longitude   | -122.3927408
 bike_id                 | 2328
 user_type               | Subscriber
 member_birth_year       | 1986
 member_gender           | Male
 pyment                  | app wallet
 dist_meter              | 1855.89
-RECORD 3---------------------------------------
 start_time              | 59:04.5
 end_time                | 13:04.4
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 4
 end_station_name        | Cyril Magnin St a...
 end_station_latitude    | 37.78588063
 end_station_longitude   | -122.408915
 bike_id                 | 365
 user_type               | Customer
 member_birth_year       | 1994
 member_gender           | Female
 pyment                  | credit card
 dist_meter              | 1670.28
-RECORD 4---------------------------------------
 start_time              | 59:00.4
 end_time                | 12:29.0
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 4
 end_station_name        | Cyril Magnin St a...
 end_station_latitude    | 37.78588063
 end_station_longitude   | -122.408915
 bike_id                 | 2848
 user_type               | Customer
 member_birth_year       | 1991
 member_gender           | Male
 pyment                  | app wallet
 dist_meter              | 1670.28
-RECORD 5---------------------------------------
 start_time              | 33:54.6
 end_time                | 44:16.9
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 66
 end_station_name        | 3rd St at Townsen...
 end_station_latitude    | 37.77874161
 end_station_longitude   | -122.3927408
 bike_id                 | 3344
 user_type               | Subscriber
 member_birth_year       | 1975
 member_gender           | Male
 pyment                  | app wallet
 dist_meter              | 1855.89
-RECORD 6---------------------------------------
 start_time              | 22:59.5
 end_time                | 40:15.8
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 130
 end_station_name        | 22nd St Caltrain ...
 end_station_latitude    | 37.75736899
 end_station_longitude   | -122.3920566
 bike_id                 | 649
 user_type               | Subscriber
 member_birth_year       | 1960
 member_gender           | Male
 pyment                  | app wallet
 dist_meter              | 4232.18
-RECORD 7---------------------------------------
 start_time              | 25:23.4
 end_time                | 31:51.1
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 14
 end_station_name        | Clay St at Batter...
 end_station_latitude    | 37.795001
 end_station_longitude   | -122.39997
 bike_id                 | 1122
 user_type               | Subscriber
 member_birth_year       | 1965
 member_gender           | Male
 pyment                  | credit card
 dist_meter              | 508.59
-RECORD 8---------------------------------------
 start_time              | 28:52.5
 end_time                | 35:14.5
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 6
 end_station_name        | The Embarcadero a...
 end_station_latitude    | 37.80477
 end_station_longitude   | -122.403234
 bike_id                 | 2629
 user_type               | Subscriber
 member_birth_year       | 1982
 member_gender           | Female
 pyment                  | credit card
 dist_meter              | 1310.35
-RECORD 9---------------------------------------
 start_time              | 28:01.8
 end_time                | 35:01.6
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 6
 end_station_name        | The Embarcadero a...
 end_station_latitude    | 37.80477
 end_station_longitude   | -122.403234
 bike_id                 | 2813
 user_type               | Subscriber
 member_birth_year       | 1982
 member_gender           | Male
 pyment                  | credit card
 dist_meter              | 1310.35
-RECORD 10--------------------------------------
 start_time              | 37:17.4
 end_time                | 48:17.2
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 81
 end_station_name        | Berry St at 4th St
 end_station_latitude    | 37.77588
 end_station_longitude   | -122.39317
 bike_id                 | 3033
 user_type               | Subscriber
 member_birth_year       | 1961
 member_gender           | Female
 pyment                  | credit card
 dist_meter              | 2171.54
-RECORD 11--------------------------------------
 start_time              | 31:47.1
 end_time                | 50:24.8
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 90
 end_station_name        | Townsend St at 7t...
 end_station_latitude    | 37.771058
 end_station_longitude   | -122.402717
 bike_id                 | 633
 user_type               | Subscriber
 member_birth_year       | 1978
 member_gender           | Male
 pyment                  | credit card
 dist_meter              | 2807.37
-RECORD 12--------------------------------------
 start_time              | 21:02.5
 end_time                | 31:27.0
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 81
 end_station_name        | Berry St at 4th St
 end_station_latitude    | 37.77588
 end_station_longitude   | -122.39317
 bike_id                 | 2249
 user_type               | Subscriber
 member_birth_year       | 1968
 member_gender           | Female
 pyment                  | credit card
 dist_meter              | 2171.54
-RECORD 13--------------------------------------
 start_time              | 31:46.2
 end_time                | 54:34.7
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 6
 end_station_name        | The Embarcadero a...
 end_station_latitude    | 37.80477
 end_station_longitude   | -122.403234
 bike_id                 | 3385
 user_type               | Customer
 member_birth_year       | 1994
 member_gender           | Male
 pyment                  | app wallet
 dist_meter              | 1310.35
-RECORD 14--------------------------------------
 start_time              | 22:40.6
 end_time                | 56:12.7
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 70
 end_station_name        | Central Ave at Fe...
 end_station_latitude    | 37.77331088
 end_station_longitude   | -122.4442926
 bike_id                 | 3227
 user_type               | Subscriber
 member_birth_year       | 1971
 member_gender           | Female
 pyment                  | credit card
 dist_meter              | 5040.34
-RECORD 15--------------------------------------
 start_time              | 54:52.6
 end_time                | 25:32.1
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 134
 end_station_name        | Valencia St at 24...
 end_station_latitude    | 37.7524278
 end_station_longitude   | -122.4206278
 bike_id                 | 667
 user_type               | Subscriber
 member_birth_year       | 1987
 member_gender           | Male
 pyment                  | app wallet
 dist_meter              | 5312.04
-RECORD 16--------------------------------------
 start_time              | 54:20.6
 end_time                | 25:31.9
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 134
 end_station_name        | Valencia St at 24...
 end_station_latitude    | 37.7524278
 end_station_longitude   | -122.4206278
 bike_id                 | 2818
 user_type               | Subscriber
 member_birth_year       | 1989
 member_gender           | Female
 pyment                  | credit card
 dist_meter              | 5312.04
-RECORD 17--------------------------------------
 start_time              | 33:12.3
 end_time                | 50:55.4
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 27
 end_station_name        | Beale St at Harri...
 end_station_latitude    | 37.7880593
 end_station_longitude   | -122.3918648
 bike_id                 | 523
 user_type               | Subscriber
 member_birth_year       | 1989
 member_gender           | Female
 pyment                  | credit card
 dist_meter              | 840.85
-RECORD 18--------------------------------------
 start_time              | 34:07.1
 end_time                | 50:37.5
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 27
 end_station_name        | Beale St at Harri...
 end_station_latitude    | 37.7880593
 end_station_longitude   | -122.3918648
 bike_id                 | 2670
 user_type               | Subscriber
 member_birth_year       | 1984
 member_gender           | Male
 pyment                  | credit card
 dist_meter              | 840.85
-RECORD 19--------------------------------------
 start_time              | 04:33.2
 end_time                | 08:39.5
 start_station_id        | 15
 start_station_name      | San Francisco Fer...
 start_station_latitude  | 37.795392
 start_station_longitude | -122.394203
 end_station_id          | 24
 end_station_name        | Spear St at Folso...
 end_station_latitude    | 37.7896767
 end_station_longitude   | -122.3904285
 bike_id                 | 3641
 user_type               | Subscriber
 member_birth_year       | 1966
 member_gender           | Male
 pyment                  | credit card
 dist_meter              | 716.85
only showing top 20 rows

In [223]:
m_fe = df.where((df.member_gender == 'Male')|(df.member_gender =='Female'))

In [226]:
m_fe.groupBy('member_gender').count().show()

+-------------+------+
|member_gender| count|
+-------------+------+
|       Female| 98621|
|         Male|348318|
+-------------+------+

In [231]:
m_fe.groupBy('member_gender', 'start_station_name').count().show(truncate=False)

+-------------+------------------------------------------------+-----+
|member_gender|start_station_name                              |count|
+-------------+------------------------------------------------+-----+
|Female       |San Francisco Caltrain (Townsend St at 4th St)  |2035 |
|Male         |MLK Jr Way at University Ave                    |225  |
|Male         |Koshland Park                                   |1083 |
|Male         |11th St at Natoma St                            |1487 |
|Female       |16th St at Prosper St                           |230  |
|Male         |Shattuck Ave at 55th Ave                        |337  |
|Male         |Grand Ave at Santa Clara Ave                    |884  |
|Female       |Downtown Berkeley BART                          |299  |
|Female       |College Ave at Bryant Ave                       |19   |
|Female       |San Fernando St at 4th St                       |158  |
|Male         |Embarcadero BART Station (Beale St at Market St)|5530 |
|Male         |9th St at San Fernando                          |152  |
|Female       |10th Ave at E 15th St                           |43   |
|Male         |Central Ave at Fell St                          |1869 |
|Female       |11th St at Natoma St                            |342  |
|Female       |Washington St at 8th St                         |188  |
|Female       |Cahill Park                                     |32   |
|Female       |Foothill Blvd at Fruitvale Ave                  |53   |
|Female       |Powell St BART Station (Market St at 4th St)    |1768 |
|Female       |5th St at Virginia St                           |169  |
+-------------+------------------------------------------------+-----+
only showing top 20 rows

In [233]:
df.where((df.start_station_name == 'San Francisco Caltrain (Townsend St at 4th St)')\
         & (df.member_gender == 'Female')).count()

2035

In [241]:
k = m_fe.groupBy('member_gender', 'start_station_name').count()

k.sort('start_station_name').show(truncate=False)

+-------------+-----------------------+-----+
|member_gender|start_station_name     |count|
+-------------+-----------------------+-----+
|Female       |10th Ave at E 15th St  |43   |
|Male         |10th Ave at E 15th St  |104  |
|Female       |10th St at Fallon St   |424  |
|Male         |10th St at Fallon St   |871  |
|Male         |11th St at Bryant St   |1370 |
|Female       |11th St at Bryant St   |164  |
|Male         |11th St at Natoma St   |1487 |
|Female       |11th St at Natoma St   |342  |
|Male         |12th St at 4th Ave     |573  |
|Female       |12th St at 4th Ave     |155  |
|Male         |12th St at 6th Ave     |162  |
|Female       |12th St at 6th Ave     |38   |
|Female       |13th St at Franklin St |9    |
|Male         |13th St at Franklin St |44   |
|Female       |14th St at Filbert St  |44   |
|Male         |14th St at Filbert St  |18   |
|Female       |14th St at Mandela Pkwy|178  |
|Male         |14th St at Mandela Pkwy|427  |
|Female       |14th St at Mission St  |395  |
|Male         |14th St at Mission St  |1556 |
+-------------+-----------------------+-----+
only showing top 20 rows